@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  box-sizing: border-box;
  /* Add more styles as needed */
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto; /* or overflow: visible, depending on your layout */
}

body {
  margin: 0;
  padding-left: 15px;
  padding-right: 10px;
  background-color: var(--color-background-page);
  height: 100%;
}

.entire-app{
  width: 100%;
  height: 100%;
}

/*NAV BAR*/
nav {
  padding: 1.5%;
  padding-left: 5%;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  border-bottom-color: black;
  border-width: 2px;
  border-bottom-style: solid;
}
.link_container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.logo {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.logo-container {
  display: flex;
  justify-content: center;
  width: 25%;
}


/*This is for the categories tags for the items*/

.category-tag {
  display: inline-block;
  margin-right: 5px;
  padding: 3px 8px;
  background-color: #dfc9c9;
  border-radius: 4px;
  font-size: 12px;
  color: #333;
}

/*  */
