
/*IMAGES*/
.main-img{
    max-height: 440px;
    max-width: 662px;
    width: 100%;
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
    object-fit: contain; /* Maintain aspect ratio and add padding if necessary */

}
.clothing-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;

}
.store-img-container{
    max-height: 150px;
    max-width: 150px;
    height: 150px;
    width: 150px;
    margin: 10px;
    border-style: solid;
    box-shadow: 5px 5px #ccc;
    border-color: #ccc;
    border-width: 1px;
    
}

.store-img{
    object-fit: contain; /* Maintain aspect ratio and add padding if necessary */
    width: 100%;
    height: 100%;
}
.card-img, .recommendation-img{
    max-height: 225px;
    max-width: 225px;
    width: 100%;
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
    object-fit: contain; /* Maintain aspect ratio and add padding if necessary */
}



/* FOR CARDS */
/*ONLY FOR CLOTHING*/
.container_items{
    font-family: Arial, sans-serif;
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.clothing-item {
    
    border: 1px solid #ccc;
    background-color: var(--card-color);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px #ccc;
    max-height: 500px;
    max-width: 330px;
    width: 100%;
    height: 100%;
    margin-left: 2%;
    margin-top: 20px;
    margin-bottom: 3%;
    object-fit: contain; /* Maintain aspect ratio and add padding if necessary */
}
.buy-link{
    width: 25%;
}


.section-name{
    margin-top: var(--section-name-margin-top);
    margin-left: var(--section-name-margin-left);
}