* {
    box-sizing: border-box;
    /* Add more styles as needed */
  }
  
  body {
    margin: 0;
    padding-left: 15px;
    padding-right: 10px;
  }
  /*IMAGES*/
  .main-img {
    width: 50%;
  }
  body {
    font-family: 'Montserrat', sans-serif;
  }
  
  /*NAV BAR*/
  nav {
    padding: 1.5%;
    padding-left: 5%;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    border-bottom-color: black;
    border-width: 2px;
    border-bottom-style: solid;
  }
  .link_container {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  
  .nav_link{
      text-decoration: none;
  }
  .logo{
    width: 10%;
    height: auto;
  }

  /* ITEMS */
  .container_items{
    font-family: Arial, sans-serif;
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.clothing-item {
    width: 23%;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;

}
img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

