@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

* {
  box-sizing: border-box;
  /* Add more styles as needed */
}

body {
  margin: 0;
  padding-left: 15px;
  padding-right: 10px;
}
/*IMAGES*/
.main-img{
    max-height: 440px;
    max-width: 662px;
    width: 100%;
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
    object-fit: contain; /* Maintain aspect ratio and add padding if necessary */

}
.clothing-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;

}
.store-img-container{
    max-height: 150px;
    max-width: 150px;
    height: 150px;
    width: 150px;
    margin: 10px;
    border-style: solid;
    box-shadow: 5px 5px #ccc;
    border-color: #ccc;
    border-width: 1px;
    
}

.store-img{
    object-fit: contain; /* Maintain aspect ratio and add padding if necessary */
    width: 100%;
    height: 100%;
}
.card-img, .recommendation-img{
    max-height: 225px;
    max-width: 225px;
    width: 100%;
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
    object-fit: contain; /* Maintain aspect ratio and add padding if necessary */
}

body {
    font-family: "Montserrat", sans-serif;
}


/*NAV BAR*/
nav {
    padding: 1.5%;
    padding-left: 5%;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    border-bottom-color: black;
    border-width: 2px;
    border-bottom-style: solid;
  }
  .link_container {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  
  .nav_link {
    text-decoration: none;
  }
  .logo {
    width: 100%;
    height: auto;
  }
  .logo-container{
      display: flex;
      justify-content: center;
      width:14%
  }
  
  button {
    background-color: #171209;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    margin: 4px 2px;
    transition-duration: 0.4s;
  
  }

/* FOR CARDS */
/*ONLY FOR CLOTHING*/
.container_items{
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.clothing-item {
    
    border: 1px solid #ccc;
    background-color: var(--card-color);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px #ccc;
    max-height: 500px;
    max-width: 330px;
    width: 100%;
    height: 100%;
    margin-left: 2%;
    margin-top: 20px;
    margin-bottom: 3%;
    object-fit: contain; /* Maintain aspect ratio and add padding if necessary */
}
.buy-link{
    width: 25%;
}



.header-box{
    margin: 10px 5px 10px 5px;
    height: 100%;
    max-height: 72px;
}

.section-name{
    margin-top: var(--section-name-margin-top);
    margin-left: var(--section-name-margin-left);
}