.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid rgb(90, 90, 90);
}
.pfp_container {
  margin-top: 5%;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}


.user-profile {
  width: 80%;
  margin: 0 auto;
}

.user-profile section {
  margin-bottom: 20px;
}

.user-profile h2 {
  color: #333;
  margin-bottom: 10px;
}

.user-profile form {
  display: flex;
  flex-direction: column;
}

.user-profile label {
  margin-bottom: 5px;
  font-weight: bold;
}

.user-profile input,
.user-profile textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: var(--font-size-small);
}

.user-profile input[type="submit"] {
  background-color: #5eb3ec;
  color: white;
  cursor: pointer;
}

.user-profile input[type="submit"]:hover {
  background-color: #4da6d6;
}

/* USER REVIEW */

.user-reviews {
  margin-bottom: 20px;
}

.user-reviews h2 {
  color: #333;
  margin-bottom: 10px;
}

.user-reviews form {
  display: flex;
  flex-direction: column;
}

.user-reviews label {
  margin-bottom: 5px;
  font-weight: bold;
}

.user-reviews textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: var(--font-size-small);
  min-height: 100px;
}
